{% extends "layout.html" %}

{% macro permission_string(delete, transcode, upload, edit, download, view) -%}
    {{ 'D' if delete else '-' }}{{ 'T' if transcode else '-' }}{{ 'U' if upload else '-' }}{{ 'E' if edit else '-' }}{{ 'd' if download else '-' }}{{ 'V' if view else '-' }}
{%- endmacro %}

{% block head %}
    {#    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css')}}">#}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
          rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Admin</h1>
    <h2>Users</h2>
    <table class="table table-striped" id="user_table">
        <tbody id="user_table_body">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Music</th>
            <th>Movies</th>
            <th>TV</th>
            <th>Admin</th>
            <th>Options</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ permission_string(user.music_can_delete, user.music_can_transcode, user.music_can_upload, user.music_can_edit, user.music_can_download, user.music_can_view) }}</td>
                <td>{{ permission_string(user.movie_can_delete, user.movie_can_transcode, user.movie_can_upload, user.movie_can_edit, user.movie_can_download, user.movie_can_view) }}</td>
                <td>{{ permission_string(user.tv_can_delete, user.tv_can_transcode, user.tv_can_upload, user.tv_can_edit, user.tv_can_download, user.tv_can_view) }}</td>
                <td>{{ user.is_admin }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#    <form class="form-inline my-2 my-lg-1 mr-1" action="{{ url_for('update_database') }}" method="post">#}
{#        <button class="btn btn-outline-success my-sm-0" type="submit" disabled>Update Database</button>#}
{#    </form>#}
{#    <form class="form-inline my-2 my-lg-1 mr-1" action="{{ url_for('update_database', deep=1) }}" method="post">#}
{#        <button class="btn btn-outline-success my-sm-0" type="submit" disabled>Deep Update Database</button>#}
{#    </form>#}
{#    <form class="form-inline my-2 my-lg-1 mr-1" action="{{ url_for('update_database', deep=1, drop_old=1) }}"#}
{#          method="post">#}
{#        <button class="btn btn-outline-success my-sm-0" type="submit" disabled>Recreate Database</button>#}
{#    </form>#}

{% endblock %}

{% block footer_scripts %}
    <script src="{{ url_for('static', filename='js/bootstrap-confirmation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.tabledit.min.js') }}"></script>
    <script>
        $('[data-toggle=confirmation]').confirmation({
            rootSelector: '[data-toggle=confirmation]'
        });

        $('#user_table').Tabledit({
            url: '{{ url_for('users.edit_user')}}',
            columns: {
                identifier: [0, 'id'],
                editable: [
                    [1, 'username'],
                    [2, 'music_perms'],
                    [3, 'movie_perms'],
                    [4, 'tv_perms'],
                    [5, 'is_admin']
                ]
            },
            buttons: {
                edit: {
                    html: '<span class="oi oi-pencil"></span>'
                },
                delete: {
                    html: '<span class="oi oi-trash"></span>'
                }
            }
        })
    </script>
{% endblock %}