body {
    padding-bottom: 40px;
    background-color: #eee;
}

.container {
    padding-top: 40px;
}

/*td {*/
    /*word-wrap:break-word;*/
    /*word-break:break-all;*/
/*}*/

.breadcrumb {
    background-color: transparent;
    padding: 0;
}