<!DOCTYPE HTML>
<html>
<head>
    <title>Music Download</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">

    <style>
        body {
            background-color: #eee;
        }

        .row {
            padding: 20px;
        }

        input .form-control {
            max-width: 20px;
        }

        /* stop the glowing blue shadow */
        .form-control:focus {
            box-shadow: none;
            -webkit-box-shadow: none;
            border-color: #cccccc;
        }

        .table {
            padding-bottom: 20px;
        }

        .loader {
            border: 20px solid rgba(0, 0, 0, 0);
            border-radius: 50%;
            border-top: 22px solid #3498db;
            width: 200px;
            height: 200px;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <script>
        function getAllArtists() {
            $('#loader').show();

            $.get("/json", function (data, status) {

                displayArtists(JSON.parse(data));

                if ($('#artistData').is(":hidden")) $('#artistData').toggle();
                if (!$('#albumData').is(":hidden")) $('#albumData').toggle();
                if (!$('#trackData').is(":hidden")) $('#trackData').toggle();

                if (!$('#artistViewBtn').is(":hidden")) $('#artistViewBtn').toggle();
                if (!$('#albumViewBtn').is(":hidden")) $('#albumViewBtn').toggle();
                if (!$('#albumDownBtn').is(":hidden")) $('#albumDownBtn').toggle();

                $('#loader').hide();
            });
        }

        function getAlbums(artist) {
            $('#loader').show();

            $.get(`/json?artist=${artist}`, function (data, status) {
                displayAlbums(JSON.parse(data));

                if (!$('#artistData').is(":hidden")) $('#artistData').toggle();
                if ($('#albumData').is(":hidden")) $('#albumData').toggle();
                if (!$('#trackData').is(":hidden")) $('#trackData').toggle();

                if ($('#artistViewBtn').is(":hidden")) $('#artistViewBtn').toggle();
                if (!$('#albumViewBtn').is(":hidden")) $('#albumViewBtn').toggle();
                if (!$('#albumDownBtn').is(":hidden")) $('#albumDownBtn').toggle();

                $('#loader').hide();
            });
        }

        function getTracks(artist, album) {
            $('#loader').show();

            $.get(`/json?artist=${artist}&album=${album}`,
                    function (data, status) {
                        displayTracks(JSON.parse(data));

                        if (!$('#artistData').is(":hidden")) $('#artistData').toggle();
                        if (!$('#albumData').is(":hidden")) $('#albumData').toggle();
                        if ($('#trackData').is(":hidden")) $('#trackData').toggle();

                        if ($('#artistViewBtn').is(":hidden")) $('#artistViewBtn').toggle();
                        if ($('#albumViewBtn').is(":hidden")) $('#albumViewBtn').toggle();
                        if ($('#albumDownBtn').is(":hidden")) $('#albumDownBtn').toggle();

                        $('#albumViewBtn').attr('onclick', `getAlbums("${artist}")`);
                        $('#albumDownBtn').attr('onclick', `downloadAlbum("${artist}", "${album}")`);

                        $('#loader').hide();
                    });
        }

        function displayArtists(artists) {
            $('#artistData').html(`<tr>
					<th>Artist Name</th>
					<th>Album Count</th>
				</tr>`);

            if (artists.length == 0) $('#artistData').hide();

            for (i in artists) {
                name = artists[i].title;
                count = artists[i].albumCount;

                nameSafe = name.replaceAll("'", "%27");

                link = `getAlbums("${nameSafe}")`;

                $('#artistData').append(`<tr>
						<td><a onclick='${link}'>${name}</a></td>
						<td>${count}</td>
					</tr>`)
            }
        }

        function displayAlbums(albums) {
            $('#albumData').html(`<tr>
					<th>Album Name</th>
					<th>Year</th>
					<th>Track Count</th>
					<th>Artist</th>
				</tr>`);

            if (albums.length == 0) $('#albumData').hide();

            for (i in albums) {
                data = albums[i];
                name = data.title;
                year = data.year;
                count = data.trackCount;
                artist = data.artist;

                artistSafe = artist.replaceAll("'", "%27");
                nameSafe = name.replaceAll("'", "%27");

                thumb = "http://plex.jakestanger.com" + data.thumb;

                link = `getTracks('${artistSafe}', '${nameSafe}')`;
                artistLink = `getAlbums('${artistSafe}')`;

                $('#albumData').append(`<tr>
						<td><a onclick="${link}">${name}</a></td>
						<td>${year}</td>
						<td>${count}</td>
						<td><a onclick="${artistLink}">${artist}</a></td>
					</tr>`);
            }
        }

        function displayTracks(tracks) {
            $('#trackData').html(`<tr>
					<th>Track No.</th>
					<th>Track</th>
					<th>Playtime</th>
					<th>Bitrate</th>
					<th>Format</th>
					<th>Size</th>
					<th>Album</th>
					<th>Artist</th>
				</tr>`);

            if (tracks.length == 0) $('#trackData').hide();

            totalSize = 0;
            for (i in tracks) {
                data = tracks[i];

                artistSafe = data.artist.replaceAll("'", "%27");
                albumSafe = data.album.replaceAll("'", "%27");

                trackNo = data.index;
                name = data.title;
                duration = millisToMinutesAndSeconds(data.duration);
                bitrate = data.bitrate + " kbps";
                format = data.format;
                size = bytesToSize(data.size);
                download = data.downloadURL.replaceAll("'", "%27");
                album = data.album;
                artist = data.artist;

                totalSize += parseInt(data.size);

                albumLink = `getTracks('${artistSafe}', '${albumSafe}')`;
                artistLink = `getAlbums('${artistSafe}')`;

                $('#trackData').append(`<tr>
						<td>${trackNo}</td>
						<td><a onclick="window.open('http://music.jakestanger.com/${download}')">${name}</a></td>
						<td>${duration}</td>
						<td>${bitrate}</td>
						<td>${format}</td>
						<td>${size}</td>
						<td><a onclick="${albumLink}">${album}</a></td>
						<td><a onclick="${artistLink}">${artist}</a></td>
					</tr>`)
            }
            totalSizeFormatted = bytesToSize(totalSize);
            $('#albumDownBtn').html(`Download Album (${totalSizeFormatted})`);
        }

        function millisToMinutesAndSeconds(millis) {
            var minutes = Math.floor(millis / 60000);
            var seconds = ((millis % 60000) / 1000).toFixed(0);
            return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
        }

        function bytesToSize(bytes) {
            var sizes = ['B', 'kiB', 'MiB', 'GiB', 'TiB'];
            if (bytes == 0) return '0B';
            var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
            return (bytes / Math.pow(1024, i)).toPrecision(3) + ' ' + sizes[i];
        }

        function downloadAlbum(artist, album) {
            $('#loader').show();

            $.post("/makeZip",
                    {
                        artist: artist,
                        album: album
                    },
                    function (data, status) {
                        window.open(data);
                        $('#loader').hide();
                    });
        }

        function search() {
            var query = $('#searchText').val();
            $.get(`/json?search=1&query=${query}`,
                    function (data, success) {
                        results = JSON.parse(data);

                        displayArtists(JSON.parse(results.artists));
                        displayAlbums(JSON.parse(results.albums));
                        displayTracks(JSON.parse(results.tracks));

                        if ($('#artistData').is(":hidden") && results.artists != '[]') $('#artistData').toggle();
                        if ($('#albumData').is(":hidden") && results.albums != '[]') $('#albumData').toggle();
                        if ($('#trackData').is(":hidden") && results.tracks != '[]') $('#trackData').toggle();

                        if ($('#artistViewBtn').is(":hidden")) $('#artistViewBtn').toggle();
                        if (!$('#albumViewBtn').is(":hidden")) $('#albumViewBtn').toggle();
                        if (!$('#albumDownBtn').is(":hidden")) $('#albumDownBtn').toggle();
                    });
        }

        String.prototype.replaceAll = function (search, replacement) {
            var target = this;
            return target.replace(new RegExp(search, 'g'), replacement);
        };
    </script>
</head>
<body onload="getAllArtists()">
<div class="row">
    <div class="col-md-6">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" id="artistViewBtn" style="display:none;"
                    onclick="getAllArtists()">Back to Artists
            </button>
            <button type="button" class="btn btn-primary" id="albumViewBtn" style="display:none;" onclick="">Back To
                Albums
            </button>
            <button type="button" class="btn btn-primary" id="albumDownBtn" style="display:none;" onclick="">Download
                Album
            </button>
        </div>
    </div>
    <div class="col-md-6">
        <form class="form-inline pull-right" action="javascript:" onsubmit="search()">
            <div class="input-group">
                <input class="form-control" placeholder="Search" name="query" id="searchText" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped">
            <tbody id="artistData"></tbody>
        </table>
    </div>
    <div class="col-lg-12">
        <table class="table table-striped">
            <tbody id="albumData" style="display:none;"></tbody>
        </table>
    </div>
    <div class="col-lg-12">
        <table class="table table-striped">
            <tbody id="trackData" style="display:none;"></tbody>
        </table>
    </div>
</div>

<!-- Filter Modal -->
<div id="filterModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Filter</h4>
            </div>
            <div class="modal-body">
                <p>Some filtering thingo</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="loader" id="loader"></div>
</body>
</html>
