{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css')}}">
    {% if tracks %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block body %}
    {% if artists %}
        {% include 'tables/artists.html' %}
    {% endif %}
    {% if albums %}
        {% include 'tables/albums.html' %}
    {% endif %}
    {% if tracks %}
        {% include 'tables/tracks.html' %}
    {% endif %}

    {% if not (artists or albums or tracks) %}
        <h1>No results {% if is_search %}for <i>{{ title }}</i>{% endif %}. <a href="{{ prev or '/' }}">Back</a>.</h1>
    {% endif %}
{% endblock %}

{% block footer_scripts %}
{% if tracks %}
    <script>
        var status = 0;
        var prevID;
        function play(music, btnID) {
            var audio = $("#audio");
            var btn = $(`#play-${btnID}`);

            if(btnID != prevID)
            {
                status = 0;
                var btns = $('*[id^="play"]').attr("class","oi oi-media-play");

            }
            prevID = btnID;

            if(status == 0 || status == 2)
            {
                if(status == 0) audio.attr("src", music);
                audio[0].play();
                btn.attr("class","oi oi-media-pause");
                status = 1;
            } else if(status == 1) {
                audio[0].pause();
                btn.attr("class","oi oi-media-play");
                status = 2;
            }
        }
    </script>
{% endif %}
{% endblock %}