{% extends "layout.html" %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
          rel="stylesheet">
{% endblock %}

{% block body_before %}
    <div class="jumbotron jumbotron-fluid" style="background-color: {{ banner_colour }}; color: {{ text_colour }}">
        <div class="container">
            <div class="row">
                <div class="col col-md-3">
                    <img src="{{ url_for('image', thumb_id=thumb_id, width=200) }}">
                </div>
                <div class="col col-md-auto">
                    <h1 class="display-4">{{ track.index }} - {{ track.title }}</h1>
                    <p class="lead">{{ track.grandparentTitle }} - {{ track.parentTitle }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('artist') }}">Artists</a></li>
            <li class="breadcrumb-item"><a
                    href="{{ url_for('artist', artist_id=track.grandparentKey) }}">{{ track.grandparentTitle }}</a></li>
            <li class="breadcrumb-item"><a
                    href="{{ url_for('album', artist_id=track.grandparentKey, album_id=track.parentKey) }}">{{ track.parentTitle }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ track.title }}</li>
        </ol>
    </nav>
    <h2>Lyrics
        <button class="btn btn-link" data-toggle="modal" data-target="#editLyrics">
            <span class="oi oi-pencil"></span>
        </button>
    </h2>
    <p>
        {% for line in lyrics %}
            {{ line }}<br>
        {% endfor %}
    </p>

    <div class="modal fade" id="editLyrics" tabindex="-1" role="dialog" aria-labelledby="lyricsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="lyricsModalLabel">Edit Lyrics</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('edit_lyrics', track_id=track.key) }}" method="post">
                    <div class="form-group">
                        <!-- Single line formatting must be preserved to format the lyrics inside the texarea correctly. -->
                        <textarea name="lyrics" class="form-control" style="min-width: 100%;" rows=25 >{% for line in lyrics %}{{ line + '\n' }}{% endfor %}</textarea>
                    </div>
                    <hr>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}