<audio id="audio" preload="auto"></audio>
<div class="row">
    <!-- Page tools -->
    {% if not is_search and not is_playlist %}
        <div class="col-md">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('music.artist') }}">Artists</a></li>
                    <li class="breadcrumb-item"><a
                            href="{{ url_for('music.artist', artist_id=parentKey) }}">{{ parentTitle }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ol>
            </nav>
        </div>
        <div class="row col-md">
            <form class="form-inline my-2 my-lg-1 mr-1"
                  action="{{ url_for('album.zip', album_id=key) }}" method="post">
                <button class="btn btn-outline-success my-sm-0" type="submit">Download album
                    ({{ format_size(totalSize) }})
                </button>
            </form>
            <form class="form-inline my-2 my-lg-1 ml-1"
                  action="{{ url_for('media.torrent', artist_name=parentTitle, album_name=title) }}" method="post">
                <button disabled class="btn btn-outline-success my-sm-0" type="submit">Download torrent</button>
            </form>
        </div>
    {% endif %}
    {% if is_playlist %}
        <div class="row col-md">
            <form class="form-inline my-2 my-lg-1 mr-1"
                  action="{{ url_for('playlist.zip', playlist_id=key) }}" method="post">
                <button class="btn btn-outline-success my-sm-0" type="submit">Download playlist
                    ({{ format_size(totalSize) }})
                </button>
            </form>
            <form class="form-inline my-2 my-lg-1 ml-1"
                  action="{{ url_for('media.torrent', artist_name=parentTitle, album_name=title) }}" method="post">
                <button disabled class="btn btn-outline-success my-sm-0" type="submit">Download torrent</button>
            </form>
        </div>
    {% endif %}
</div>
<table class="table table-striped">
    <tbody id="track_table">
    <tr>
        <th style="width: 12%;">Track No.</th>
        <th>Track</th>
        <th>Playtime</th>
        <th>Bitrate</th>
        <th>Format</th>
        <th>Size</th>
        {% if is_search or is_playlist %}
            <th>Album</th>
            <th>Artist</th>
        {% endif %}
    </tr>
    {% set last = tracks|last %}
    {% set discs = [0] %}
    {% for track in tracks %}
        {% if not is_search and not is_playlist %}
            {% if int(last.disc_num) > 1 and int(track.disc_num) != int(discs|last) %}
                <tr class='discrow'>
                    <td>
                        <div class="row">
                            <div class="col-4">
                                <form class="form-inline my-2 my-lg-1 mr-1"
                                      action="{{ url_for('album.zip', album_id=key, disc=track.disc_num) }}" method="post">
                                    <button class="btn btn-link" type="submit"><span
                                            class="oi oi-data-transfer-download"></span>
                                    </button>
                                </form>
                            </div>
                            <div class="col">
                                <h6 style="position: absolute; top: 12px">
                                    <b>Disc {{ track.disc_num }}</b>
                                </h6>
                            </div>
                        </div>
                    </td>
                </tr>
                {% if discs.append(track.disc_num) %}{% endif %}
            {% endif %}
            <tr>
        {% endif %}
    <td class="row">
        <div class="col-2">
            {{ track.track_num }}
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-link" onclick="play(`{{ url_for('track.track_file', track_id=track.id) }}`);">
                <span id="play-{{ track.id }}"
                      class="oi oi-media-play"></span></button>
            <a class="btn btn-link" href="{{ url_for('track.track_file', track_id=track.id, download='1') }}">
                <span class="oi oi-data-transfer-download"></span></a>
        </div>

    </td>
    <td><a href="{{ url_for('track.track', track_id=track.id) }}">{{ track.name }}</a></td>
    <td>{{ format_duration(track.duration) }}</td>
    <td>{{ track.bitrate }}kbps</td>
    <td>{{ track.format }}</td>
    <td>{{ format_size(track.size) }}</td>
    {% if is_search or is_playlist %}
        <td><a href="{{ url_for('album.album', album_id=track.album_key) }}">{{ track.album_name }}</a></td>
        <td><a href="{{ url_for('music.artist', artist_id=track.artist_key) }}">{{ track.artist_name }}</a>
        </td>
    {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>