<audio id="audio" preload="auto"></audio>
<div class="row">
    <!-- Page tools -->
    {% if not is_search %}
        <div class="col-md">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('artist') }}">Artists</a></li>
                    <li class="breadcrumb-item"><a
                            href="{{ url_for('artist', artist_id=parentKey) }}">{{ parentTitle }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ol>
            </nav>
        </div>
        <div class="row col-md">
            <form class="form-inline my-2 my-lg-1 mr-1"
                  action="{{ url_for('zip', album_id=key) }}" method="post">
                <button class="btn btn-outline-success my-sm-0" type="submit">Download album ({{ totalSize }})</button>
            </form>
            <form class="form-inline my-2 my-lg-1 ml-1"
                  action="{{ url_for('torrent', artist_name=parentTitle, album_name=title) }}" method="post">
                <button class="btn btn-outline-success my-sm-0" type="submit">Download torrent</button>
            </form>
        </div>
    {% endif %}
</div>
<table class="table table-striped">
    <tbody id="track_table">
    <tr>
        <th style="width: 12%;">Track No.</th>
        <th>Track</th>
        <th>Playtime</th>
        <th>Bitrate</th>
        <th>Format</th>
        <th>Size</th>
        {% if is_search %}
            <th>Album</th>
            <th>Artist</th>
        {% endif %}
    </tr>
    {% set last = tracks|last %}
    {% set discs = [0] %}
    {% for track in tracks %}
        {% if not is_search %}
            {% if int(last.parentIndex) > 1 and int(track.parentIndex) != int(discs|last) %}
                <tr class='discrow'>
                    <td><h6>
                        <b>Disc {{ track.parentIndex }}</b>
                    </h6></td>
                </tr>
                {% if discs.append(track.parentIndex) %}{% endif %}
            {% endif %}
            <tr>
        {% endif %}
    <td class="row">
        <div class="col-2">
            {{ track.index }}
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-link" onclick="play(`{{ url_for('track_file', track_id=key_num(track.key)) }}`);">
                <span id="play-{{ key_num(track.key) }}"
                      class="oi oi-media-play"></span></button>
            <a class="btn btn-link" href="{{ url_for('track_file', track_id=key_num(track.key), download='download') }}">
                <span class="oi oi-data-transfer-download"></span></a>
        </div>

    </td>
    <td><a href="{{ url_for('track', track_id=key_num(track.key)) }}">{{ track.title }}</a></td>
    <td>{{ track.duration_formatted() }}</td>
    <td>{{ track.bitrate }}kbps</td>
    <td>{{ track.format }}</td>
    <td>{{ track.size_formatted() }}</td>
    {% if is_search %}
        <td><a href="{{ url_for('album', album_id=key_num(track.parentKey)) }}">{{ track.parentTitle }}</a></td>
        <td><a href="{{ url_for('artist', artist_id=key_num(track.grandparentKey)) }}">{{ track.grandparentTitle }}</a>
        </td>
    {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>